#root {
  text-align: center;
  flex-direction: column;
}

#footer {
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: auto; 
  height: 2.5rem;     
  position: relative;  
}

.compact-text p {
  margin-bottom: -5px;
}

.icon-spacing li {
  margin-right: 1rem;
}

.contacts-container {
  width: 25rem
}
