@use "./variables" as vars;
@use "./themes";
  


body, #root {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background 0.3s, color 0.3s;
  font-family: var(--font);
  width: 100vw;
  height: 100vh;
  text-align: center;
  flex-direction: column;
  display: flex; 
  min-height: 100%; 
}

 /*  #card1 {
     background-color:hsl(203, 30%, 90%);
  }
  
  #card2 {
    background-color: hsl(203, 30%, 85%);
  }
  
  #card3 {
    background-color: var(--bg-color);
  }
  
  #card4 {
    background-color: hsl(203, 30%, 75%);
  } */
  
  footer {
    margin-bottom: 0px;
    margin-top: auto;
    background-color: var(--bg-color)
  }
  text {
    color: var(--text-color);
  }
  h1{
    color: var(--text-color);
    font-size: 3.2em;
    line-height: 1.1;
  }

  nav {
    color: var(--navbar-text-color); // Use the navbar text color variable
  }

  .nav-link {
    color: var(--navbar-text-color); // Ensure links use the correct color
    transition: color 0.3s ease; // Smooth transition for theme changes
  }

  .nav-link:hover {
    color: var(--color-accent); // Highlight links on hover
  }

  .navbar-toggler-icon {
    background-color: var(--navbar-icon-color); // Use the icon color variable
    transition: background-color 0.3s ease; // Smooth transition for theme changes
  }

  .btn-primary {
    color: var(--text-color)
  }

  .compact-text p {
    margin-bottom: -5px;
  }
  
  .icon-spacing li {
    margin-right: 1.3rem;
  }
  
  ul {
    list-style-type: none;
  }
  
  abbr {
    font-weight: 600;
  }
  
  @keyframes colorChange {
    0% { color: #52be80; }
    16.7% { color: #16a085; }
    33.3% { color: #3498db; }
    50% { color: #8e44ad; }
    66.7% { color: #e74c3c; }
    83.3% { color: #f39c12; }
    95% { color:#2ecc71; }
    100% { color: #52be80; }
  }
  
  .colorful-text {
    animation: colorChange 10s linear infinite; /* Increased duration for smoother transition */
  }

