html, body {
  height: 100%;
  margin: 0; 
  display: flex;
  flex-direction: column; 
}

#root {
  text-align: center;
  flex-direction: column;
  display: flex; 
  min-height: 100%; 
}

.app-container {
  flex-grow: 1;
}

footer {
  margin-top: auto;
}

.compact-text p {
  margin-bottom: -5px;
}

.icon-spacing li {
  margin-right: 1rem;
}

ul {
  list-style-type: none;
}

abbr {
  font-weight: 600;
}

